/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.3s;
}

/* End Variables */
/* Start Global Rules */
/* start services */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

/* End services */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 900 */
body {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* End Global Rules */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

/* Small */
@media (min-width: 768) {
    .container {
        width: 750;
    }
}

/* mediam */
@media (min-width: 992) {
    .container {
        width: 970;
    }

}

/* Large */
@media (min-width: 1200) {
    .container {
        width: 1170;
    }
}

/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration, 0.3s);
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -19px;

}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration, 0.3s);
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End Header */
/* <!-- End Landing --> */
.landing {
    background-image: url(../images/The-Tallest-Mountains-in-the-World.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color, #10cab7);
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* <!-- End Landing --> */
/* Start Feature */
.feture {
    padding: 60px;
    background-color: var(--section-background);

}

.feture .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

.feture .feet {
    padding: 20px;
    text-align: center;
}

.feture .feet i {
    color: var(--main-color, #10cab7);
}

.feture .feet h3 {
    font-weight: 800;
    margin: 30px 0;
}

.feture .feet p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* End Feature */
/* start services */
.services {
    padding: var(--section-padding);

}

.services .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .service-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .services .service-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .service-content .srv i {
    color: var(--main-color, #10cab7);
    flex-basis: 60px;
}

.services .service-content .srv .text {
    flex: 1;
}

.services .service-content .srv .text h3 {
    margin: 0 0 20px;
}

.services .service-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .service-content .image {
    text-align: center;
    position: relative;
}

.services .service-content .image::before {
    content: '';
    background-color: var(--secondary-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.services .service-content .image img {
    width: 260px;
}

@media (max-width:1199px) {
    .image-column {
        display: none;
    }
}

/* end services */
/* Start Protofolio */
.protofolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.protofolio .protofolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    margin: 80px;
    /* margin-top: 80px; */

}

.protofolio .protofolio-content .card {
    background-color: white;
}

.protofolio .protofolio-content .card img {
    max-width: 100%;
}

.protofolio .protofolio-content .card .info {
    padding: 20px;
}

.protofolio .protofolio-content .card .info h3 {
    margin: 0;
}

.protofolio .protofolio-content .card .info p {
    margin-bottom: 0;
    line-height: 1.8;
    color: #777;
}

/* end Protofolio */
/* start about */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding));
}

.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

@media(max-width:991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about-content .amage {
    position: relative;
    width: auto;
    height: auto;
    max-width: 100%;
}

@media(max-width:991px) {
    .about .about-content .amage {
        margin: 0 auto 60px;
    }
}

.about .about-content .amage::before {
    content: '';
    position: absolute;
    background-color: #ebeced;
    width: 60px;
    height: 250px;
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .amage::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 150px;
    border-left: 40px solid var(--main-color, #10cab7);
    border-bottom: 40px solid var(--main-color, #10cab7);
    top: -34px;
    left: 250px;
    z-index: -1;
}

@media(max-width:991px) {

    .about .about-content .amage::after,
    .about .about-content .amage::before {
        display: none;
    }
}

.about .about-content .text {
    flex-basis: calc(100% - 600px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 45px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color, #10cab7);
    margin-bottom: 45px;
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* end about */
/* start contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .lable {
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
}

.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color, #10cab7);
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

@media (max-width:767px) {

    .contact .info .link,
    .contact .info .lable {
        font-size: 25px;
    }
}

/* end contact */
/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color, #10cab7);
}

/* End Footer */